<section class="py-16 bg-slate-100 relative z-10" style="min-height: calc(100vh - 89px);">
    <div class="px-12 mx-auto max-w-5xl pb-12 border-b print:border-none print:pb-0 print:pt-12 border-slate-300">
        <div class="w-full mx-auto text-left leading-none tracking-normal text-slate-900 md:tracking-tight antialiased">
            <h1 class="text-6xl mb-2 font-extrabold">
                <span class="relative"><span class="relative z-50 text-white">Kieran</span><span class="transform rotate-2 skew-y-2 absolute z-0 w-full h-full top-0 left-0 bg-gradient-to-tl from-pink-300 to-purple-600"></span></span>
                <span class="relative z-50"> Uddin</span>
            </h1>
            <!-- <h1 class="text-6xl mb-2 font-extrabold">Kieran Uddin</h1> -->
            <p class="text-2xl mb-2 font-semibold">kieranbehn@gmail.com</p>
            <p class="text-1xl font-normal">+447932540789</p>
            <p class="text-2xl my-12 print:my-6 print:text-lg">Experienced developer with a demonstrated history of working in the computer software industy. Skilled in web and mobile application development.</p>
        </div>
        <div class="w-full mx-auto mb-12 text-left tracking-normal text-slate-900 antialiased">
            <p class="text-2xl font-extrabold pb-6 mb-6 border-b border-slate-300">Skills</p>
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 print:grid-cols-4">
                <div>
                    <p class="font-extrabold mb-2">Languages</p>
                    <ng-container *ngFor="let item of languages">
                        <p>{{ item }}</p>
                    </ng-container>
                </div>
                <div>
                    <p class="font-extrabold mb-2">Frameworks & APIs</p>
                    <ng-container *ngFor="let item of frameworks">
                        <p>{{ item }}</p>
                    </ng-container>
                </div>
                <div>
                    <p class="font-extrabold mb-2">Platforms</p>
                    <ng-container *ngFor="let item of platforms">
                        <p>{{ item }}</p>
                    </ng-container>
                </div>
                <div>
                    <p class="font-extrabold mb-2">Applications</p>
                    <ng-container *ngFor="let item of applications">
                        <p>{{ item }}</p>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- <div class="pagebreak"> </div> -->
        <div class="w-full mx-auto mb-12 text-left tracking-normal text-slate-900 antialiased">
            <p class="text-2xl font-extrabold pb-6 mb-6 border-b border-slate-300">Current Position</p>
            <!-- <p>6 years</p> -->
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-12">
                <div>
                    <p class="text-2xl mb-2 font-semibold">gloversure.</p>
                    <p class="text-1xl mb-2 font-normal invisible print:visible">Digital Agency</p>
                    <p class="text-1xl mb-2 font-normal">2016 - Present</p>
                    <p class="text-sm font-normal text-gray-500">({{ workYears }} years)</p>
                </div>
                <div class="col-span-2">
                    <p class="font-extrabold mb-2">Developer</p>
                    <ul class="list-outside list-disc">
                        <li class="pt-2">
                            Mobile App Development - Project lead on a number of mobile applications. Day to day responsibilities include development, build and release of apps to stores; including bug fixes and updates. Ensuring a high quality product is delivered on time and to spec.
                            <ul class="ml-4 mt-2 list-inside list-disc">
                                <li>Cross-platform solutions - Ionic, Angular, Cordova, Capacitor</li>
                            </ul>
                        </li>
                        <li class="pt-4">
                            Web Development - Project lead on several websites. Configuration and development of web applications. Including databases, CMSs, and APIs. Often working closely with colleagues on different aspects of the same system.
                            <!-- <ul class="ml-4 mt-2 list-inside list-disc">
                                <li>Associated skills - Laravel, Tailwind, PHP, SQL, Node.js</li>
                            </ul> -->
                        </li>
                        <li class="pt-4">Server Configuration - Configured large-scale servers, including LAMP stacks and NodeJS servers. Deployed several production websites, including updates and hotfixes.</li>
                        <li class="pt-4">Testing - Performed non-functional testing of several applications. Including performance, security, usability, and compatibility testing. Provided comprehensive testing reports to clients. Written unit tests for the CI/CD pipeline of applications.</li>
                        <li class="pt-4">Project Management - Liaising with multiple clients at a time. Estimating time frames for projects and specific tasks while also delegating these tasks to employees. Written and reviewed several large project specifications.</li>
                        <li class="pt-4">Supervisory role - Overseeing junior employees including mentoring, pair programming, and performing code reviews.</li>
                        <!-- ... -->
                    </ul>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra, mi in dignissim porttitor, dolor dolor rhoncus lectus, a venenatis augue odio eget sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ut viverra orci. Donec gravida auctor sem sed laoreet.</p> -->
                </div>
            </div>
        </div>
        <div class="pagebreak"></div>
        <div class="w-full mx-auto mb-12 print:mb-0 print:mt-20 text-left tracking-normal text-slate-900 antialiased">
            <p class="text-2xl font-extrabold pb-6 mb-6 border-b border-slate-300">Education</p>
            <div class="grid grid-cols-1 print:grid-cols-3 print:items-start">
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-12">
                    <div>
                        <p class="text-2xl mb-2 font-semibold">3aaa Apprenticeships</p>
                        <p class="text-1xl font-normal">2016 - 2017</p>
                    </div>
                    <div>
                        <p class="font-extrabold mb-2">BTEC Level 3 Extended Diploma</p>
                        <p>in ICT Systems and Principles (QCF)</p>
                    </div>
                    <div>
                        <p class="font-extrabold mb-2">BTEC Level 3 Diploma</p>
                        <p>in Professional Competence for IT and Telecoms Professionals (QCF)</p>
                    </div>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-12">
                    <div>
                        <p class="text-2xl mb-2 font-semibold">ACT Training</p>
                        <p class="text-1xl font-normal">2013 - 2014</p>
                    </div>
                    <div class="col-span-2">
                        <p class="font-extrabold mb-2">Level 1 IT Traineeship</p>
                        <p>including work experience</p>
                    </div>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-6">
                    <div>
                        <p class="text-2xl mb-2 font-semibold">Ysgol Dinas Brân</p>
                        <p class="text-1xl font-normal">2008 - 2013</p>
                    </div>
                    <div class="col-span-2">
                        <p class="font-extrabold mb-2">GCSEs: 9 graded A - C</p>
                        <p>including Maths and English</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full mx-auto mb-12 text-left tracking-normal text-slate-900 antialiased">
            <p class="text-2xl font-extrabold pb-6 mb-6 border-b border-slate-300">Personal Projects</p>
            <!-- <p>6 years</p> -->
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-12">
                <div>
                    <p class="text-2xl mb-2 font-semibold">Companion for Fortnite</p>
                    <p class="text-1xl font-normal">2018 - Present</p>
                </div>
                <div class="col-span-2">
                    <p class="font-extrabold mb-2">iOS & Android App</p>
                    <p>Of the many personal projects I have worked on over the years, there is one honourable mention. Companion for Fortnite was a mobile app I originally created for myself and friends to compare our in game stats with one another. This being a gap in the market at the time, the app quickly surpassed 1,000,000 total installs on Android, placing it above the likes of Bet365 and the PlayStation App in the top charts.</p>
                    <p class="mt-2">I have since continued to develop the app, adding a host of new features. This was all done using Ionic, Cordova and Angular, and it's success has made me realise just what is possible with web technologies.</p>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra, mi in dignissim porttitor, dolor dolor rhoncus lectus, a venenatis augue odio eget sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ut viverra orci. Donec gravida auctor sem sed laoreet.</p> -->
                </div>
            </div>
        </div>
        <div class="w-full mx-auto mb-12 text-left tracking-normal text-slate-900 antialiased">
            <p class="text-2xl font-extrabold pb-6 mb-6 border-b border-slate-300">Hobbies</p>
            <!-- <p>6 years</p> -->
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-12">
                <div>
                    <p class="text-2xl mb-2 font-semibold">Football</p>
                    <!-- <p class="text-1xl font-normal">2019 - Present</p> -->
                </div>
                <div class="col-span-2">
                    <p class="font-extrabold mb-2">5-A-Side Football</p>
                    <p>Since 2019 I have been taking part in weekly 5-a-side football matches with a group of friends at Goals Chester. When I'm not working on a project it's nice to get outside and run around!</p>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-12">
                <div>
                    <p class="text-2xl mb-2 font-semibold">Music</p>
                    <!-- <p class="text-1xl font-normal">2017 - Present</p> -->
                </div>
                <div class="col-span-2">
                    <p class="font-extrabold mb-2">Instruments & Production</p>
                    <p>I have always loved music, ever since I received my first ukulele in high school. I have since gone on to learn guitar and bass, as well as some piano... although I am yet to master one! My DAW of choice is FL Studio.</p>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-12">
                <div>
                    <p class="text-2xl mb-2 font-semibold">Gaming</p>
                    <!-- <p class="text-1xl font-normal">2017 - Present</p> -->
                </div>
                <div class="col-span-2">
                    <p class="font-extrabold mb-2">Video Games</p>
                    <p>My love of programming goes hand in hand with my love of gaming. For as long as I've had a PC I've been setting up multiplayer servers for games such as Minecraft and Garry's Mod. As well as developing custom plugins and mods in Java. I've also made a lot of friends along the way!</p>
                </div>
            </div>
        </div>
  </div>
</section>

<section class="pb-16 bg-slate-100 relative z-10 print:hidden">
  <div class="w-full mx-auto md:w-11/12 xl:w-9/12 text-center">
    <h1 class="mb-12 text-3xl font-extrabold leading-none tracking-normal text-slate-900 md:tracking-tight antialiased">Ready to get started?</h1>
  </div>
  <div class="px-12 mx-auto max-w-5xl text-center">
    <a href="mailto:kieranbehn@gmail.com" class="inline-flex font-semibold bg-gradient-to-br from-pink-300 to-purple-600 mx-auto text-white py-3 px-4 rounded-full hover:from-pink-400 hover:to-purple-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-purple-900 transition">Contact</a>
  </div>
</section>