<div class="relative bg-slate-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex justify-between items-center border-b border-slate-700 py-6 md:justify-start md:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a routerLink="/">
            <span class="sr-only">Kieran Uddin</span>
            <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-white.svg" alt="">
          </a>
        </div>
        <nav class="flex space-x-10">  
          <a href="#work" class="text-base font-medium text-white hover:text-slate-500 transition"> Work </a>
          <a href="#" class="text-base font-medium text-white hover:text-slate-500 transition"> CV </a>
          <a href="#" class="text-base font-medium text-white hover:text-slate-500 transition"> Contact </a>
        </nav>
      </div>
    </div>
</div>

<router-outlet></router-outlet>